.list {
  list-style: none;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding-block: 0.6rem;
  text-align: right;

  &:not(:last-child) {
    border-bottom: 1px solid #b9b9b9f7;
  }
}
