.title {
  margin-bottom: 1.5rem;
  font-size: 1.75rem;
  line-height: 2.125rem;
  font-weight: 400;
  color: #757575;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1.125rem;
  margin-bottom: 1rem;
  background-color: #ffffff;

  @media (min-width: 768px) {
    max-width: 420px;
  }
}

.body {
  position: relative;
  flex: 1;
}



