.title {
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #757575;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1.9rem 1.3rem;
  margin-bottom: 1rem;
  background-color: #ffffff;

  @media (min-width: 768px) {
    max-width: 420px;
  }
}

.body {
  position: relative;
  flex: 1;
}



